{% extends 'asa18/meeting_master.html' %}
{% load staticfiles %}

{% block content_meeting %}
<h1>{{ event.name }}</h1>

<div class="blurb-box" style="background-color:{{ meeting.distinct_color }}; color: white;">
    <table>
        <tr><th>When:</th><td>
            {{ event.time_start|date:'D j M Y, g:iA' }} - {% if event.time_end|date:'jMY' != event.time_start|date:'jMY' %}{{ event.time_end|date:'D j M Y, g:iA' }}{% else %}{{ event.time_end|date:'g:iA' }}{% endif %}
        </td></tr>
        {% if event.location %}
        <tr><th>Where:</th><td>{{ event.location|safe }}</td></tr>
        {% if event.eventoption_set.count > 0 %}<tr><th colspan="2" align="center">Registration required - closes {{ event.compute_rego_closes }}</th> </tr>
        <tr><td colspan="2" align="center">You can register for this event as part of your <a href="{% url 'register_splash' %}">meeting registration</a>.</td><tr>{% endif %}
        {% endif %}
    </table>
</div>

{{ event.description|safe }}

{% if event.eventoption_set.count > 0 %}
        <a name="rego-opts"></a>
        <h2>Registration options
            <span class="hint"> | Costs are in addition to meeting registration fee(s), and include GST</span></h2>
        <table class="stripe-rows" style="min-width: 40%;">
            <tr><th>Registration</th><th>Cost</th>
        {% for option in event.eventoption_set.all %}
            <tr><td>{{ option.name }}</td><td style="text-align:right;">${{ option.cost }}</td></tr>
        {% endfor %}
        </table>
        {% endif %}

{% endblock %}