{% extends 'asa18/meeting_master.html' %}
{% load staticfiles %}

{% block content_meeting %}

<h1 class='helpdesk'>{{ meeting.name }}</h1>
<div class="helpdesk">
<p>--------------------------------------------</p>

<p>INSTRUCTIONS FOR POSTERS</p>

<p>--------------------------------------------</p>

<p>Congratulations on getting a poster at this year&rsquo;s ASA Science Meeting at Swinburne!&nbsp;</p>

<p>I know for many of you it&rsquo;s a &ldquo;downgrade&rdquo; from a talk, but please don&rsquo;t see it that way. Posters are an integral part of a conference like this and a great way to advertise the important science you&rsquo;re doing, start discussions, build collaborations, etc. Take advantage of the opportunity.</p>

<ul>
	<li>The poster area can be found in the foyer of the main lecture hall, ATC 101. See <a href="https://asa2018.swin.edu.au/asa2018/#Venue">https://asa2018.swin.edu.au/asa2018/#Venue</a>.</li>
	<li>Try and stick to A0. Portrait is strongly preferred but if you really require landscape go for it.</li>
	<li>You can put up your poster anytime after 8am Monday. Each board will be numbered; simply pick <em>the next available spot</em>. Place it neatly and cleanly.&nbsp;Velcro pins can be gotten from the registration desk.&nbsp;</li>
	<li>For sparkler presenters especially, please note your number as you&rsquo;ll want to say/show this during your 90 seconds.</li>
</ul>

<p>--------------------------------------------</p>

<p>INSTRUCTIONS FOR SPARKLERS</p>

<p>--------------------------------------------</p>

<p>Throughout the meeting there&rsquo;ll be 5 poster sparkler sessions on the main stage. A sparkler spot gives you 1 1/2 minutes to briefly advertise your poster and can be a lot of fun. Basically you want to say: your name, where your poster is, the title of your poster, and a 30-60 second pitch (including the key idea/result). Make it memorable!</p>

<p>Sparkler speaker names, times and order details are below. Please make sure you&rsquo;ve uploaded your background slide well BEFORE your session begins. It should preferably be a picture of your poster. Note PDF ONLY!</p>

<p><a href="https://docs.google.com/document/d/1a-11YQiXnkXc5wsfajGhBCiNLMlavQ3v3KKiUjo5tZ4/edit">https://docs.google.com/document/d/1a-11YQiXnkXc5wsfajGhBCiNLMlavQ3v3KKiUjo5tZ4/edit</a></p>

<ul>
	<li>Sparkler speakers, please be ready as the sparkler time approaches and come up to the side of the stage when called. Please order yourself in the order below. This is the order the slides will be shown in. If someone is missing let the chair know (if you know this and can).</li>
	<li>As mentioned before, you&rsquo;ll have 90 seconds, and out of respect for the other speakers this will be strictly enforced (slides will be set to auto-advance).&nbsp;</li>
	<li>Make it fun and interesting! And don&rsquo;t forget to tell everyone where they can go and when for more information.</li>
</ul>

<p>&nbsp;</p>

<p>Monday 12:15pm (6 spots)</p>

<p>&nbsp; &nbsp; 1. Ellert van der Velden</p>

<p>&nbsp; &nbsp; 2. Emma Ryan-Weber</p>

<p>&nbsp; &nbsp; 3. Boris Goncharov</p>

<p>&nbsp; &nbsp; 4. Pikky Atri</p>

<p>&nbsp; &nbsp; 5. Erica Thygesen</p>

<p>&nbsp; &nbsp; 6. Natasha Hurley-Walker</p>

<p>&nbsp;</p>

<p>Tuesday 10:15am (10 spots)</p>

<p>&nbsp; &nbsp; 1. Karlie Noon</p>

<p>&nbsp; &nbsp; 2. Simon O&rsquo;Toole</p>

<p>&nbsp; &nbsp; 3. Robert Dzudzar</p>

<p>&nbsp; &nbsp; 4. Chandrashekar Murugeshan</p>

<p>&nbsp; &nbsp; 5. Ronniy Joseph</p>

<p>&nbsp; &nbsp; 6. Soheil Koushan</p>

<p>&nbsp; &nbsp; 7. Phoebe de Wilt</p>

<p>&nbsp; &nbsp; 8. Chikaedu Ogbodo</p>

<p>&nbsp; &nbsp; 9. Xingjiang Zhu</p>

<p>&nbsp; &nbsp; 10. Samuel Hinton</p>

<p>&nbsp;</p>

<p>Tuesday 12:15pm (10 spots)</p>

<p>&nbsp; &nbsp; 1. Gavin Rowell</p>

<p>&nbsp; &nbsp; 2. Gavin Rowell</p>

<p>&nbsp; &nbsp; 3. Gavin Rowell</p>

<p>&nbsp; &nbsp; 4. Gavin Rowell</p>

<p>&nbsp; &nbsp; 5. Sinem Obilgen</p>

<p>&nbsp; &nbsp; 6. Allan Ernest</p>

<p>&nbsp; &nbsp; 7. Minh Huynh</p>

<p>&nbsp; &nbsp; 8. Nikki Nielsen</p>

<p>&nbsp; &nbsp; 9. Andrew Prentice</p>

<p>&nbsp; &nbsp; 10. Bryce Murphy</p>

<p>&nbsp;</p>

<p>Thursday 10:00am (10 spots)</p>

<p>&nbsp; &nbsp; 1. Wael Farah</p>

<p>&nbsp; &nbsp; 2. Cherie Day</p>

<p>&nbsp; &nbsp; 3. Yisheng Qiu</p>

<p>&nbsp; &nbsp; 4. Stephanie Pointon</p>

<p>&nbsp; &nbsp; 5. Matthew Alger</p>

<p>&nbsp; &nbsp; 6. Jai Chauhan</p>

<p>&nbsp; &nbsp; 7. Ayan Acharyya</p>

<p>&nbsp; &nbsp; 8. John Sarkissian</p>

<p>&nbsp; &nbsp; 9. James Davies</p>

<p>&nbsp; &nbsp; 10. Noor Masdiana Md Said</p>

<p>&nbsp;</p>

<p>Thursday 12:15pm (10 spots)</p>

<p>&nbsp; &nbsp; 1. Garima Chauhan</p>

<p>&nbsp; &nbsp; 2. Keven Ren</p>

<p>&nbsp; &nbsp; 3. Mat&iacute;as Bravo</p>

<p>&nbsp; &nbsp; 4. Vaishali Parkash</p>

<p>&nbsp; &nbsp; 5. Benjamin Davis</p>

<p>&nbsp; &nbsp; 6. Mahsa Rahimi</p>

<p>&nbsp; &nbsp; 7. Michael Fitzgerald</p>

<p>&nbsp; &nbsp; 8. Shannon Melrose</p>

<p>&nbsp; &nbsp; 9. Marcus Lower</p>

<p>&nbsp; &nbsp; 10. Krist&oacute;f Rozgonyi</p>

<p>--------------------------------------------</p>

<p>INSTRUCTIONS FOR SPEAKERS</p>

<p>--------------------------------------------</p>

<p>Congratulations on getting at talk at this year&rsquo;s ASA Science Meeting at Swinburne! We had about 250 abstracts submitted for a little over 140 talk spots. It was a tough year! Below i hope to pass on some information regarding your talk spot.&nbsp;</p>

<ul>
	<li>Each talk has been allocated 15 minutes (unless otherwise notified, e.g. prize or invited talks). You should take this to mean you have 12 minutes of talk time then 3 minutes for questions and the switch-over to the the next speaker. PLEASE STICK TO YOUR TIME.</li>
	<li>Talks will need to have been uploaded to a Google Drive folder in advance. Please use the below link,&nbsp;and see [*] below for more details. Presenters can tinker with their talk right up to their session. The most recent version will be the one used by the session chair.&nbsp;</li>
	<li>Please make yourself known to the session chair in advance of your session. Check your slides look ok with the projector in the break before.</li>
	<li>We&rsquo;d like to put your talk online as a record of the program. After your talk please upload a PDF (only) version back to the Google Drive (same place). Remove anything you don&rsquo;t want permanently advertised to the world. Please name it using your surname (e.g. croton.pdf).</li>
	<li>If anything changes with your talk or attendance please let me know ASAP. The program will need to be updated and it may be that another person who missed out can take your spot.</li>
</ul>

<p><a href="https://docs.google.com/document/d/1a-11YQiXnkXc5wsfajGhBCiNLMlavQ3v3KKiUjo5tZ4/edit">https://docs.google.com/document/d/1a-11YQiXnkXc5wsfajGhBCiNLMlavQ3v3KKiUjo5tZ4/edit</a></p>

<p>[*] Additional speaker instructions:</p>

<ul>
	<li>Please upload your presentation (or placeholder) prior to the commencement of the conference. Name the file using your surname (e.g. croton.key).</li>
	<li>You may upload updated versions of your talk throughout the conference.</li>
	<li>File types can be Powerpoint, Keynote or PDF.</li>
	<li>The presentation must be self contained (i.e. a single file with no external dependancies) and less than 100MB.</li>
	<li>A single Mac laptop will be used in each room for presenting. Your file will be automatically downloaded onto it prior to your session.</li>
	<li>A Mac laptop will be available at the registration desk to check compatibility of your talk, and to provide an alternate method to upload your talk.</li>
	<li>Projectors will have a resolution of 1920x1080 resolution (16:9).</li>
	<li>A lanyard microphone and laster pointer will be provided for all speakers.</li>
	<li>All talks will be streamed live and recorded.</li>
	<li>Please see the registration desk or email&nbsp;<a href="mailto:asasupport@astro.swin.edu.au">asasupport@astro.swin.edu.au</a>&nbsp;for presentations that cannot meet these requirements, or if you have any issues.</li>
</ul>

</div>
    
{% endblock %}


