{% extends 'asa18/meeting_master.html' %}

{% block headextra %}
{{ block.super }}

<script>
   $( document ).ready(function () {
      $('.dialog-holder').hide();
      $('.abortable-form input[type=submit][name=_abort]').on('click', function (e) {
         e.preventDefault();
         var $this = $(this);
         $('.dialog-holder').dialog({
            title: "Please confirm",
            content: "Are you sure you want to cancel your registration? This will delete all your data from the registration system, and is irreversible.",
            modal: true,
            buttons: {
               "Cancel registration": function () { $this.unbind('click'); $this.trigger('click'); },
               "No, don't": function () { $( this ).dialog('close'); }
            },
         });
      });
   });
</script>

{% endblock %}

{% block content_meeting %}

<h3 class="limit-margin-bottom">Registration for {{ attendee.full_name }}</h3>
<h1 class="limit-margin-top">Step 2 - Meetings</h1>

<div class="warning">Do NOT use your Back, Forward or Refresh buttons.<br />
If you need to leave the registration system, please use the 'Cancel' button below
 - do NOT simply leave the page!</div>

{% if warning_message %}<div class="warning">{{ warning_message }}</div>{% endif %}

<p>You have now been entered into our registration system. You are now
required to complete the registration process in this sitting. If you are
unable to do so, please use the 'Cancel' button at the bottom of the page.</p>

<p>Based on your registration responses, we have identified the following
   registration options are available to you. The options are ordered from
cheapest to dearest - please check that the option you select is the
most appropriate. <strong>The cheapest option may not be a full conference
      registration!</strong></p>

<p>All prices include GST.</p>

<p>If you encounter any issues during your registration process, please
    contact <a href="mailto:{{ REGISTRATION_EMAIL }}">{{ REGISTRATION_EMAIL }}</a>.</p>

<form action="{% url 'register_meetings' %}" method="post" class="abortable-form">
   {% csrf_token %}

   {% for meeting, regos in meetings_open.items %}
   <h3>{{ meeting.name }} <a href="{{ meeting.get_absolute_url }}"
                             target="_blank">&#8663;</a> </h3>
      {% if meeting.policy_set.count > 0 %}<p class="note">By registering for this meeting,
   you acknowledge and agree to abide by this meeting's <a href="{{ meeting.get_absolute_policy_url }}" target="_blank">policies</a>.</p>{% endif %}
   {{ regos.non_field_errors }}
   {{ regos.attendee }}{{ regos.meeting }}
   {% for option in regos.meeting_rego %}
   <div class="form-options">{{ option }}</div>
   {% endfor %}
   {% endfor %}


   <br /><input type="submit" value="Continue >" /><br /><br />
   <input type="submit" name="_abort"
          value="Cancel registration" style="background-color: red;" />
</form>

<div class="dialog-holder" title="Are you sure?" style="display: none;">
   <p>Are you sure you want to cancel your registration? This will delete all your data from the registration system, and is irreversible.</p>
</div>

{% endblock %}
